.footer {
    margin:0px 50px;
    display: flex;
    justify-content: space-between;
}

.main-footer{
    background-color: black;
    margin-top:20px;
    padding: 20px 5px
}

.copy{
    text-align: right;
}

.foot-title{
    font-size: 1.3rem;
    font-family: cursive
}